---
import Layout from '../../../layouts/Layout.astro';
import ArticleEditor from '../../../components/admin/ArticleEditor.svelte';
---

<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>新建文章 - 小晤</title>
	</head>
	<body>
		<Layout>
			<ArticleEditor client:load />
		</Layout>
	</body>
</html>
