---
export const prerender = false;
import VerifyPage from "@components/widget/VerifyPage.svelte";
---

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>欢迎 - 唔唔唔的冒险日记</title>
</head>
<body>
    <VerifyPage client:load />
</body>
</html>
