---
import Layout from '../../../../layouts/Layout.astro';
import ArticleEdit from '../../../../components/admin/ArticleEdit.svelte';

export const prerender = false;
---

<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>编辑文章 - 小晤</title>
	</head>
	<body>
		<Layout>
			<ArticleEdit client:load />
		</Layout>
	</body>
</html>
